body {
  width: 100%;
  min-height: 100%;
  background-color: lightgray;
}

table,
th,
td {
  border: 1.5px solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: auto;
  text-align: center;
  font-size: auto;
}

h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightseagreen;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

p {
  color: gray;
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  max-height: 50px;
  background-color: white;
  font-size: 15px;
}

.navbar-brand{
  width: 110px;
  background: lightseagreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

.header .navbar-brand{
  color: white;
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  background-color: lightseagreen;
  font-family: G;
}

.nav-link:hover {
  background-color: white;
 }

.navbar-brand:hover {
color: rgb(45, 158, 175);
}
.compp {
  text-align: center;
}
.box {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 10px 30px 10px;
  color: white;
  background-color: white;
}

.imgbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 10px;
}

.imgbox:hover {
  border-color: lightseagreen;
  border-style: solid;
}

.active {
  border-color: lightseagreen;
  border-style: solid;
}

.divtable {
  text-align: center;
  background-color: white;
  z-index: 1;
  width: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

footer {
  background-color: darkgray;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: lavender;
  color: darkorchid;
  min-height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  }


/* Adding media queries to....when the screen is smaller than 480 pixels */

@media(max-width: 992px) {
  .navbar {
    max-height: none;
    padding: inherit;
    background-color: lightseagreen;
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link{
    color: white;
  }

  .navbar div {
    margin: inherit;
  }
  .navbar-brand {
    padding: 10px;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
}